

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.akc.org/wp-content/uploads/2018/05/Three-Australian-Shepherd-puppies-sitting-in-a-field.jpg);">
  <div class="container">
    <h1>Dogs For Days <strong>is the place</strong> for <strong>happiness</strong>!</h1>
    <p>Take care of Cute Dogs!</p>
     <%= link_to 'OUR PETS', dogs_path, class: 'card-category-home'%>
  </div>
</div>
