

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://paradepets.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_700/MTkxMzY1Nzg4NjczOTEwMzcw/french-bulldog.webp);">
  <div class="container">
    <h1>Dogs For Days <strong>is the place</strong> for <strong>happiness</strong>!</h1>
    <p>Take care of Cute Dogs!</p>
     <%= link_to 'OUR DOGS', dogs_path, class: 'card-category-home'%>
  </div>
</div>
