.card-product {
  overflow: hidden;
  // height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 8px 0px;
}

.main-container{
  display:flex;
  gap:20px;
}

#map {
  width:400px;
  height:100vh;
  position:sticky;
  top:0px;
}
.show-card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 8px 0px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

#profilecolor {
  background-color: rgb(174, 240, 173);;
}
.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  margin: 8px 0px;
}

.dog-card{
  color:green;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  size: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;

  h2{
    font-size:20px;
  }

  img {
    width: 55%;
    object-position: center;
    object-fit: cover;
    margin-right: 24px;
  }
}

.dogs-image{
height:150px;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  height: auto;
  flex-grow: 1;
}

.profile { width: 300px;
  height: 300px;
  object-fit: cover;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
