.form {
  width:250px;
  padding:20px;
}


.review-form-container { flex-direction: row;
  justify-content: space-evenly;
  margin-right: 5px;
}


.airbnb-style {
  background-color: white;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}
