<%= simple_form_for [user, review] do |f| %>
<div class="d-flex">
  <%= f.input :rating, as: :integer, input_html: { min: 1, max: 5 } %>
  <%= f.input :content, as: :text %>
  <%= f.submit "Send!", class: 'btn btn-primary mt-2' %>
  </div>
<% end %>
